.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto 0 342px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: -50px 342px 0 543px;
}

.u-section-1 .u-text-3 {
  width: 655px;
  margin: 8px auto 0;
}

.u-section-1 .u-list-1 {
  width: 897px;
  margin: 59px auto 58px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(20% - 7.5px);
  grid-template-columns: repeat(5, calc(20% - 7.5px));
  min-height: 267px;
  grid-gap: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/female-model-demonstrating-silber-braceletcopy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/young-graceful-tender-ballerina-pastel-wallcopy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/beauty-blond-woman-chaircopy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/portrait-bossy-woman-with-attitude-posing-whitecopy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/portrait-bossy-woman-with-attitude-posing-whitecopy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 262px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 262px;
    margin-left: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 174px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 174px;
    margin-left: 291px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 885px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 102px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 102px;
    margin-left: 183px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 255px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}




.u-section-2 .u-sheet-1 {
  min-height: 236px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  width: 680px;
  margin: 38px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}