.u-stick-footer {
    display: flex;
    flex-direction: column;
  }
  
  .u-stick-footer .u-footer {
    margin-top: auto;
  }
  
  .u-hide-header .u-header,
  .u-hide-footer .u-footer {
    display: none;
    border: none;
  }

  
.u-footer .u-sheet-1 {
    min-height: 120px;
  }
  
  .u-footer .u-social-icons-1 {
    height: 23px;
    min-height: 16px;
    width: 122px;
    min-width: 94px;
    white-space: nowrap;
    margin: 47px 0 0 auto;
  }
  
  .u-footer .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }
  
  .u-footer .u-icon-2 {
    color: rgb(85, 172, 238) !important;
  }
  
  .u-footer .u-icon-3 {
    color: rgb(197, 54, 164) !important;
  }
  
  .u-footer .u-icon-4 {
    color: rgb(0, 122, 185) !important;
  }
  
  .u-footer .u-text-1 {
    width: 631px;
    margin: -24px auto 8px;
  }
  
  
  @media (max-width: 767px) {
    .u-footer .u-sheet-1 {
      min-height: 200px;
    }
  
    .u-footer .u-social-icons-1 {
      margin-right: auto;
    }
  
    .u-footer .u-text-1 {
      margin-left: 0;
      margin-right: 0;
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-footer .u-text-1 {
      width: 340px;
    }
  }
  